<section class="m-t-20 m-b-30">
    <div class="container">
        <h2 class="text-page m-b-30"><strong>{{getUserFullName()}}</strong></h2>
        <ul class="nav nav-tabs nav-justified">
            <li class="">
                <a href="#profile" data-toggle="tab" aria-expanded="false"><strong class="text-page">Profile</strong></a>
            </li>
            <li class="active">
                <a href="#courses" data-toggle="tab" aria-expanded="true"><strong class="text-page">Courses</strong></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="profile">
                <h3 class="text-page m-b-10 m-l-10 m-t-0">
                    <strong>Student Details</strong>
                </h3>              
                <hr class="m-b-30">     
                <div class=" form">
                    <form class="cmxform form-horizontal tasi-form"  [ngFormModel]="StudentDetailForm" (submit)="AddStudent(StudentDetailForm.value)">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class=""  [ngClass]="{ 'has-error' : !firstname.valid && submitAttempt }">
                                            <div class="col-lg-2">
                                                <div class="m-l-10 m-r-10">
                                                    <label for="fname" class="control-label text-left text-page">First Name</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="m-l-10 m-r-10">
                                                <input class=" form-control" id="fname" name="name" type="text" ngControl="firstname"  placeholder="Some text value..." (blur)="getValue(StudentDetailForm.value)">
                                                </div>
                                            </div>
                                        </div> 
                                        <div class=""  [ngClass]="{ 'has-error' : !lastname.valid && submitAttempt }">
                                            <div class="col-lg-2">
                                                <div class="m-l-10 m-r-10">
                                                    <label for="lname" class="control-label text-left text-page">Last Name</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="m-l-10 m-r-10">
                                                <input class=" form-control" id="lname" name="name" type="text" ngControl="lastname"  placeholder="Some text value..." (blur)="getValue(StudentDetailForm.value)">
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error' : !username.valid && submitAttempt }">
                                <div class="col-lg-2">
                                    <div class="m-l-10 m-r-10">
                                        <label for="uname" class="control-label text-left text-page">Username</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="m-l-10 m-r-10">
                                        <input class=" form-control" id="uname" name="name" type="text" ngControl="username"  placeholder="Some text value..." readonly >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div [ngClass]="{ 'has-error' : !password.valid && submitAttempt }">
                                    <div class="col-lg-2">
                                        <div class="m-l-10 m-r-10">
                                            <label for="password" class="control-label text-left text-page">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="m-l-10 m-r-10">
                                            <input class=" form-control" id="password" name="name" type="password" ngControl="password"  placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div [ngClass]="{ 'has-error' : !matchedPassword(StudentDetailForm.value) && submitAttempt }">
                                    <div class="col-lg-2">
                                        <div class="m-l-10 m-r-10">
                                            <label for="password" class="control-label text-left text-page">Verify Password</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="m-l-10 m-r-10">
                                            <input class=" form-control" id="password" name="name" type="password" ngControl="verifiedpassword"  placeholder="">
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="form-group" >
                                <div class="col-lg-2">
                                    <div class="m-l-10 m-r-10">
                                        <label for="dob" class="control-label text-left text-page">DOB</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="m-l-10 m-r-10">
                                        <input class=" form-control" id="dob" name="name" type="text" ngControl="dob"  placeholder="Some text value...">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="m-l-10 m-r-10">
                                        <label for="dob" class="control-label text-left text-page">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="m-l-10 m-r-10">
                                        <input class=" form-control" id="dob" name="name" type="number" ngControl="phone"  placeholder="Some text value...">
                                    </div>
                                </div>
                            </div>
                            <div class="white-space m-t-30 m-b-30">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="sr-only">Empty Space</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-l-5 m-r-5">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <input type="button" (click)="cancel()" value="Back" class="btn btn-primary m-b-10 w-sm">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <input type="button" (click)="cancel()" value="Cancel" class="btn btn-primary m-b-10 w-sm">
                                        <input type="submit"  value="Save" class="btn btn-primary m-b-10 w-sm m-l-15">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                                   
            </div>
            <div class="tab-pane active" id="courses">
                <div class="table-responsive">
                    <table class="table text-page">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th class="text-center">Completed</th>
                                <th class="text-center">Score</th>
                                <th class="text-center">Completion Date</th>
                                <th class="text-center">Certificate</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let course of courseList">
                            <td><strong>{{course.coursetitle}}</strong></td>
                            <td class="text-center"><strong>{{getCompletedStatus(course.isCompleted)}}</strong></td>
                            <td class="text-center"><strong>{{course.score}}%</strong></td>
                            <td class="text-center"><strong>{{course.completedAt}}</strong></td>
                            <td class="text-center"><a href="#"><strong class="text-page">View</strong></a></td>
                            
                        </tr>                        
                    </table>
                </div>
                            <div class="white-space m-t-30 m-b-30">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <span class="sr-only">Empty Space</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-l-0 m-r-0">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <input type="submit" (click)="cancel()" value="Back" class="btn btn-primary m-b-10 w-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>                                   
            </div>
        
</section>